<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.python.cat.studyview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BannerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentActivity" />
        <activity android:name=".ScrollerActivity" />
        <activity android:name=".TableActivity" />
        <activity android:name=".RoundActivity" />
        <activity android:name=".WatermarkActivity" />
        <activity android:name=".RectActivity" />
        <activity android:name=".OutActivity" />
        <activity android:name=".BottomImageActivity" />
        <activity android:name=".NpActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".ThirdBottomPickerActivity"></activity>
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".PickerActivity" />
    </application>

</manifest>